*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}



h1{
    font-family: Roboto;
font-weight: 700;
font-style: Bold;
font-size: 68px;
leading-trim: NONE;
line-height: 73.98px;
letter-spacing: 0%;
padding-bottom: 22px;
}



p{
    font-family: Roboto;
font-weight: 400;
font-style: Regular;
font-size: 21px;
leading-trim: NONE;
line-height: 30.01px;
letter-spacing: 0%;

}


.big{
    display: flex; 
    align-items: center;
    justify-content: space-around;
}



.nmadr{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}