@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


h2{
    font-family: Roboto;
font-weight: 700;
font-style: Bold;
font-size: 48px;
leading-trim: NONE;
line-height: 57.98px;
letter-spacing: 0%;
text-align: center;

}


p{
    font-family: Roboto;
font-weight: 400;
font-style: Regular;
font-size: 21px;
leading-trim: NONE;
line-height: 30.01px;
letter-spacing: 0%;
text-align: center;

}


h1{
    font-family: Roboto;
font-weight: 700;
font-style: Bold;
font-size: 28px;
leading-trim: NONE;
line-height: 36.01px;
letter-spacing: 0%;
text-align: center;

}



span{
    font-family: Roboto;
font-weight: 400;
font-style: Regular;
font-size: 21px;
leading-trim: NONE;
line-height: 30.01px;
letter-spacing: 0%;
text-align: center;
width: 412px;
}



.btn1{
    font-family: Roboto;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
background: #FFFFFF;
color: #211F54;
border: 1px solid #EFF0F6;

}


.kck{
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 15px;
}